# Environment
.env
.env.*

# Node
node_modules/
dist/
.vite/

# Java
target/
*.class
*.jar
*.war
*.log

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Secrets
*.key
*.pem
*.p12
*.jks

# Maven
*.lastUpdated

# Logs
logs/
